<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleDisplayName</key>
	<string>Photobooth</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Google Sign-In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.40459772528-qhhub320es422ljv56io4cdl4dsc6s75</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Photobooth Deep Link</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>photobooth</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Photobooth needs camera access to take photos for your collages.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Use Face ID to securely access your account.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Photobooth needs microphone access for behind-the-scenes video recording.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Photobooth needs permission to save collages and videos to your photo library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Photobooth needs photo library access to save your collages and videos.</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string></string>
		<key>UIImageName</key>
		<string></string>
	</dict>
</dict>
</plist>
